workflows/lead_scraper.json
{
  "name": "Lead Scraper - Daily Automated Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule (9 AM Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://api.example.com/v1/companies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "industry",
              "value": "={{ $json.targetIndustry || 'technology' }}"
            },
            {
              "name": "employees_min",
              "value": "50"
            },
            {
              "name": "employees_max",
              "value": "500"
            },
            {
              "name": "location",
              "value": "US"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-request-scrape",
      "name": "Fetch Company Data (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const companies = item.json.data || item.json.results || [item.json];\n  \n  for (const company of companies) {\n    // Extract and normalize company data\n    const lead = {\n      company_name: company.name || company.company_name || 'Unknown',\n      industry: company.industry || company.sector || 'N/A',\n      website: company.website || company.domain || '',\n      employee_count: parseInt(company.employees || company.employee_count || 0),\n      location: company.location || company.city || '',\n      country: company.country || 'US',\n      description: (company.description || '').substring(0, 500),\n      founded_year: company.founded || company.year_founded || null,\n      revenue_range: company.revenue_range || company.revenue || 'Unknown',\n      contact_email: company.email || company.contact_email || '',\n      phone: company.phone || '',\n      linkedin_url: company.linkedin || company.linkedin_url || '',\n      \n      // Metadata\n      scraped_at: new Date().toISOString(),\n      source: 'api_scraper',\n      status: 'new',\n      lead_score: 0\n    };\n    \n    // Basic lead scoring\n    let score = 0;\n    if (lead.employee_count >= 50 && lead.employee_count <= 500) score += 30;\n    if (lead.contact_email) score += 20;\n    if (lead.linkedin_url) score += 15;\n    if (lead.website) score += 10;\n    if (lead.phone) score += 10;\n    if (lead.description.length > 50) score += 15;\n    \n    lead.lead_score = score;\n    lead.quality_tier = score >= 70 ? 'hot' : score >= 40 ? 'warm' : 'cold';\n    \n    results.push({ json: lead });\n  }\n}\n\nreturn results;"
      },
      "id": "code-transform",
      "name": "Transform & Score Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            { "fieldName": "company_name" },
            { "fieldName": "website" }
          ]
        }
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "google-sheets-store",
      "name": "Store in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-quality",
              "leftValue": "={{ $json.quality_tier }}",
              "rightValue": "hot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-score",
              "leftValue": "={{ $json.lead_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-high-quality",
      "name": "Is High-Quality Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "channel": "#leads-alerts",
        "text": ":fire: *New High-Quality Lead Detected!*\n\n*Company:* {{ $json.company_name }}\n*Industry:* {{ $json.industry }}\n*Employees:* {{ $json.employee_count }}\n*Location:* {{ $json.location }}\n*Lead Score:* {{ $json.lead_score }}/100 ({{ $json.quality_tier }})\n*Website:* {{ $json.website }}\n*Contact:* {{ $json.contact_email }}\n\n_Scraped at {{ $json.scraped_at }}_",
        "otherOptions": {}
      },
      "id": "slack-notify-hot",
      "name": "Slack Alert (Hot Lead)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "fromEmail": "leads@yourcompany.com",
        "toEmail": "sales-team@yourcompany.com",
        "subject": "[Lead Alert] New Hot Lead: {{ $json.company_name }}",
        "emailType": "html",
        "html": "<h2>New High-Quality Lead</h2><table style='border-collapse:collapse;width:100%'><tr><td style='padding:8px;border:1px solid #ddd'><strong>Company</strong></td><td style='padding:8px;border:1px solid #ddd'>{{ $json.company_name }}</td></tr><tr><td style='padding:8px;border:1px solid #ddd'><strong>Industry</strong></td><td style='padding:8px;border:1px solid #ddd'>{{ $json.industry }}</td></tr><tr><td style='padding:8px;border:1px solid #ddd'><strong>Score</strong></td><td style='padding:8px;border:1px solid #ddd'>{{ $json.lead_score }}/100</td></tr><tr><td style='padding:8px;border:1px solid #ddd'><strong>Website</strong></td><td style='padding:8px;border:1px solid #ddd'><a href='{{ $json.website }}'>{{ $json.website }}</a></td></tr></table>",
        "options": {}
      },
      "id": "email-notify",
      "name": "Email Sales Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = {\n  total_leads: items.length,\n  hot_leads: items.filter(i => i.json.quality_tier === 'hot').length,\n  warm_leads: items.filter(i => i.json.quality_tier === 'warm').length,\n  cold_leads: items.filter(i => i.json.quality_tier === 'cold').length,\n  avg_score: Math.round(items.reduce((sum, i) => sum + i.json.lead_score, 0) / items.length),\n  run_date: new Date().toISOString()\n};\nreturn [{ json: summary }];"
      },
      "id": "code-summary",
      "name": "Generate Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 520]
    }
  ],
  "connections": {
    "Daily Schedule (9 AM Weekdays)": {
      "main": [
        [{ "node": "Fetch Company Data (API)", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Company Data (API)": {
      "main": [
        [{ "node": "Transform & Score Leads", "type": "main", "index": 0 }]
      ]
    },
    "Transform & Score Leads": {
      "main": [
        [{ "node": "Remove Duplicates", "type": "main", "index": 0 }]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [{ "node": "Store in Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Store in Google Sheets": {
      "main": [
        [
          { "node": "Is High-Quality Lead?", "type": "main", "index": 0 },
          { "node": "Generate Run Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is High-Quality Lead?": {
      "main": [
        [
          { "node": "Slack Alert (Hot Lead)", "type": "main", "index": 0 },
          { "node": "Email Sales Team", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "lead-generation" },
    { "name": "automation" },
    { "name": "production" }
  ]
}
